/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
pnpm-lock.yaml
.idea
.vscode/*
.DS_Store
src/files/file64.pdf
src/files/json.txt
src/files/private.key
src/files/public.key
src/files/ec512-private.key
src/files/ec512-public.key
.env